@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*HEADER*/
    header {
        font-family: 'Roboto', sans-serif;
        justify-content: space-between;
        background-color: #e6e6e6;
        height: 10vh;
        display: flex;
        align-items: center;
    }
    /*LOGO-CONTAINER*/
        .header-logo-container {
            display: flex;
            align-items: center;
        }
        .header-logo-container img {
            margin-left: 1vw;
            margin-right: 1vw;
            width: 4vw;
            height: auto;
        }
        .header-logo-container a {
            text-decoration: none;
            font-family:'Gill Sans', 'Gill Sans MT',  sans-serif;
            font-size: 2.5vw;
            color: #333;
        }
    /*RIGHT-CONTAINER*/
        .right-container {
            display: flex;
            align-items: center;
        }
        .right-container img {
            margin-left: 1vw;
            margin-right: 2vw;
            width: 3vw;
            height: auto;
        }
    /*MIDDLE-CONTAINER*/
        .middle-container {
            display: flex;
            align-items: center;
        }
    /*LIST-NAVIGATION*/
        nav ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 1.5vw;
        }
        nav ul li a:hover {
            color: #ef680c;
        }
        nav ul li::after {
            content: "|";
            margin-left: 2vw;
            margin-right: 2vw;
            font-size: 1.5vw;
            color: #888787;
            opacity: 0.7;
        }
        nav ul li:last-child::after {
            content: "";
        }
/*BODY*/
    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    /*CONTENTS*/
        /*HOME*/
            .home-content {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .home-content .left-content {
                flex: 1;
            }
            .home-content .left-content img {
                width: 15vw;
                padding: 1vh 1vw;
                margin-left: 2vw;
            }
            .home-content .main-content {
                flex: 2;
                text-align: center;
                margin-right: 30vw;
            }
            .home-content .main-content a {
            font-size: 3vw;
            margin: 1vh 0;
            display: inline-block;
            text-decoration: none;
            color: #333;
            }
        /*NEWS*/
        .news-content {
            flex-grow: 1;
            width: 50%;
            margin: auto;
        }
        .youtube-player {
            width: 100%;
        }
        /*TEAMS*/
        .teams-content {
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .teams-content .middle-header {
            text-align: center;
            justify-content: center;
        }
        .teams-content .middle-content {
            text-align: center;
        }
        .teams-content .middle-content p {
            padding: 0 1vw;
        }
        .teams-content .middle-content img {
            width: 30vw;
        }
        .teams-content .left-table-content, .teams-content .right-table-content {
            text-align: left;
            align-items: center;
            padding: 3vh 1vw;
        }
        .teams-content table {
           width: 100%;
           border-collapse: collapse;
        }
        .teams-content table th, .teams-content table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .teams-content table th {
            background-color: #f2f2f2;
            text-align: left;
        }
        /*PLAYERS*/
        .players-content {
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .players-content .middle-header {
            text-align: center;
            justify-content: center;
        }
        .players-content .middle-content {
            text-align: center;
            width: 50%;
        }
        .players-content .middle-content p {
            padding: 0 1vw;
        }
        .players-content .middle-content img {
            width: 30vw;
        }
        .players-content .left-table-content, .players-content .right-table-content {
            text-align: left;
            align-items: center;
            padding: 3vh 1vw;
        }
        .players-content table {
           width: 100%;
           border-collapse: collapse;
        }
        .players-content table th, .players-content table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .players-content table th {
            background-color: #f2f2f2;
            text-align: left;
        }
        /*ABOUT*/
        .about-content {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about-content .left-content {
            flex: 1;
        }
        .about-content .left-content img {
            width: 15vw;
            padding: 1vh 1vw;
            margin-left: 2vw;
        }
        .about-content .main-content {
            flex: 2;
            text-align: left;
            margin-right: 10vw;
        }
        .about-content .main-content a {
        font-size: 3vw;
        margin: 1vh 10px;
        display: inline-block;
        text-decoration: none;
        color: #333;
        }

/*FOOTER*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        background-color: #e6e6e6;
        height: auto;
        padding: 2vh;
    }
    /*BADGE-CONTAINER*/
        .badge-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        /*BADGES-SIZE*/
            .google-play-badge {
                width: 17vw;
                height: auto;
            }
            .app-store-badge {
                width: 13vw;
                height: auto;
            }
    /*MIDDLE-CONTAINER*/
        .footer-middle-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
        .footer-middle-container p {
            margin: 1vh;
            font-size: 2vh;
            color: #888787;
            text-align: center;
        }
        .footer-middle-container a {
            text-decoration: none;
            color: #888787;
            font-size: 2vh;
            margin: 0.5vh;
            text-align: center;
        }
    /*LOGO-CONTAINER*/
        .footer-logo-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .footer-logo-container img {
            width: 4vw;
            height: auto;
        }
        .footer-logo-container a {
            text-decoration: none;
            font-family:'Gill Sans', 'Gill Sans MT',  sans-serif;
            font-size: 2.5vw;
            margin-right: 1vw;
            color: #333;
        }
     /*SOCIALS-CONTAINER*/ 
         .footer-socials-container {
                display: flex;
                justify-content: center;
                align-items: center;
          }
          .footer-socials-container img {
                margin-left: 0.5vw;
                margin-right: 0.5vw;
                width: 2.5vw;
                height: auto;
          }
          .icon-credits span {
            margin-right: 0.2vw;
          }
    /*ICON-CREDITS*/
    .icon-credits {
        display: flex;
        justify-content: flex-end;
        margin-right: 1vw;
        font-size: 0.8vw;
        color: #888787;
    }            
/*MEDIA-QUERIES*/
@media screen and (max-width: 630px) {
    header {
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    .header-logo-container {
        margin-top: 1vh;
    } 
    .header-logo-container img {
        width: 7vw;
        }
    .header-logo-container a {
        font-size: 5vw;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
        margin: 0.6vh 0;
    }
    nav ul li a {
        font-size: 3vw;
    }
    nav ul li::after {
        content: "";
    }
    footer {
        flex-direction: column;
        height: auto;
    }
    .footer-logo-container {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .icon-credits {
        justify-content: center;
    }
    .home-content .main-content {
        margin-right: 10vw;
    }
    .news-content {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .home-content {
        flex-direction: column;
    }
    .home-content .main-content {
        margin-right: 0;
    }
    .about-content {
        flex-direction: column;
    }
    .about-content .main-content {
        margin-right: 0;
        padding: 0 1vw;
    }
}
@media screen and (max-width: 921px) {
    .teams-content {
        flex-direction: column;
    }
    .players-content {
        flex-direction: column;
    }
    .players-content .middle-content {
        width: 100%;
    }
}

